pytorch
cudatoolkit=11.3
ipykernel
optuna
configargparse
scikit-learn
pandas
matplotlib
captum
shap
pytorch-tabnet
requests
qhoptim
lightgbm==3.3.1
einops
stg==0.1.2
# https://github.com/AmrMKayid/nam/archive/main.zip
tabulate
yacs
